@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply bg-background
}

section {
  @apply w-full flex flex-col gap-y-base items-start pb-md
}

.supporting__text {
  @apply text-14 text-grey
}
