.pointer {
  @apply cursor-pointer
}

.main__layout {
  @apply w-full h-[100vh] flex flex-row gap-0 max-h-[100vh];
}

.main__layout .sidebar {
  @apply min-w-[218px] w-[20.5vw] h-full hidden xl:block
}

.main__layout .main__content {
  @apply w-full xl:w-[79.5vw] max-h-full overflow-y-scroll bg-[#F9FAFB] py-md px-base
}

.main__header {
  @apply flex flex-col gap-y-base pb-md
}

.page__heading {
  @apply text-dark text-heading font-500
}

.page__subheading {
  @apply text-grey
}

.button__group {
  @apply w-min max-w-sm xl:max-w-full h-[40px] overflow-x-scroll flex flex-row gap-0 flex-nowrap
  rounded-md drop-shadow-xs border border-input-border
}

button.button__group__item {
  @apply bg-white h-full px-[16px] py-[10px] first-of-type:rounded-l-md hover:bg-background-tint
  last-of-type:rounded-r-md last-of-type:border-r-0 text-14 text-dark font-500 border-r-2 border-r-input-border min-w-max
}

.button__group__active__item {
  @apply bg-background-tint h-full px-[16px] py-[10px] first-of-type:rounded-l-md hover:bg-background-tint
  last-of-type:rounded-r-md text-14 text-dark font-500 border-r-2 border-r-input-border
}

.section__header {
  @apply flex flex-col
}

.section__heading {
  @apply text-18 text-dark
}

.section__subheading {
  @apply text-grey text-14
}

.section__form, .card__section__form {
  @apply grid grid-cols-1 xl:grid-cols-4 gap-md w-full
}

.section__form__left {
  @apply text-14 col-span-1 
}

.section__form__right {
  @apply flex flex-col xl:col-span-2 w-full
}

.card__section__form .section__form__right {
  @apply flex flex-col xl:col-span-3 w-full
}

.form__heading {
  @apply font-500 text-dark
}

.form__subheading {
  @apply font-400 text-grey
}

.contact__email__form {
  @apply flex flex-col gap-y-[16px] w-full
}

.form__item {
  @apply w-full flex xl:col-span-2 flex-row gap-x-[8px] justify-start items-start
}

.form__item__label {
  @apply text-14 align-top w-[319px] xl:w-[488px]
}

.form__radio__input {
  @apply h-[18px] w-[18px] appearance-none rounded-full border default:border-grey
  checked:border-primary checked:after:h-[8px] flex justify-center items-center
  checked:after:w-[8px] checked:after:bg-primary checked:after:rounded-full
}

.card {
  @apply flex flex-row gap-x-base justify-start items-start bg-white w-full h-[100px]
  border border-input-border rounded-md p-[16px] pr-[36px] text-14 relative
}

.active__card {
  @apply flex flex-row gap-x-base justify-start items-start bg-primary-fade w-full h-[100px]
  border border-primary rounded-md p-[16px] pr-[36px] text-14 relative
}

.card__details {
  @apply flex flex-col gap-y-[8px]
}

.card__number {
  @apply font-500 text-dark
}

.active__card .card__number {
  @apply font-500 text-[#53389E]
}

.card__exp {
  @apply font-400 text-grey
}

.active__card .card__exp {
  @apply font-400 text-[#7F56D9]
}

.card__actions {
  @apply flex flex-row gap-x-3
}

.card__set__as__default {
  @apply text-grey font-500 bg-transparent
}

.active__card .card__set__as__default {
  @apply text-[#9E77ED] font-500 bg-transparent
}

.card__edit {
  @apply text-primary font-500 bg-transparent
}

.card__radio__button {
  @apply appearance-none absolute top-4 right-4 border h-[18px] aspect-square rounded-full
  flex justify-center items-center overflow-hidden cursor-pointer
  default:border-input-border
  checked:border-primary checked:after:h-full checked:after:w-full checked:after:bg-primary
  checked:after:bg-check checked:after:bg-center checked:after:bg-no-repeat
}

.add__new__card__button {
  @apply flex flex-row gap-x-[12px] text-14 text-grey font-500
}

.billing__section__header {
  @apply w-full flex flex-col xl:flex-row gap-y-[12px] justify-start xl:justify-between  items-start xl:items-center
}

.download__all__button {
  @apply flex flex-row gap-x-2 border border-input-border text-grey font-500 bg-white text-14
  px-[16px] py-[10px] rounded-md
}

.billing__table__container {
  @apply w-full rounded-md overflow-x-hidden overflow-y-scroll border border-input-border
}

.billing__table {
  @apply table-auto w-full bg-white rounded-md border-collapse overflow-x-scroll
}

.billing__table thead  {
  @apply text-left text-14 text-grey font-500 py-3 px-6 min-h-[44px]
}

.billing__table thead tr th {
  @apply py-3 px-6 min-h-[44px] bg-background-tint border border-r-0 border-l-0 border-t-0 border-b-input-border
  text-14 text-grey font-500
}

.billing__table tr td{
  @apply border-b py-3 px-6 h-[72px] text-grey font-400 text-14
  first-of-type:col-span-3 hover:bg-background-tint
}

.invoice__header, .invoice__data__item {
  @apply flex flex-row gap-x-3 justify-start items-center
}

.billing__checkbox {
  @apply h-[18px] w-[18px] appearance-none border rounded-md
  flex justify-center items-center overflow-hidden cursor-pointer
  default:border-input-border
  checked:border-primary checked:after:h-full checked:after:w-full checked:after:bg-primary-fade
  checked:after:bg-check-primary checked:after:bg-center checked:after:bg-no-repeat checked:after:text-primary
}

.action__item {
  @apply pointer xl:!flex justify-center items-center
}

.hidden__on__mobile {
  @apply hidden xl:table-cell
}

.users__on__plan__container {
  @apply flex flex-row gap-0 justify-start items-center relative
}

.user__on__plan {
  @apply relative first-of-type:right-0 h-[30px] w-[30px] pointer
}

.user__on__plan:nth-of-type(2) {
  @apply right-2
}

.user__on__plan:nth-of-type(3) {
  @apply right-4
}

.user__on__plan:nth-of-type(4) {
  @apply right-6
}

.user__on__plan:nth-of-type(5) {
  @apply right-8
}

.excess__users {
  @apply relative right-10 bg-background-tint h-[30px] w-[30px] rounded-full flex justify-center items-center
}